<div class="content">
  <ul class="list-unstyled">
    <li class="item">
      <span class="title"><strong>English:</strong></span>
      <span class="level">Native Speaker <br class="visible-xs"/>
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i> 
      </span>
    </li><!--//item-->
                  
    <li class="item">
      <span class="title"><strong>Spanish:</strong></span>
      <span class="level">Some Proficiency <br class="visible-sm visible-xs"/>
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i>
      </span>
    </li><!--//item-->

    <li class="item">
      <span class="title"><strong>Hebrew:</strong></span>
      <span class="level">Speaking Proficiency <br class="visible-sm visible-xs"/>
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i> 
      </span>
    </li><!--//item-->

    <li class="item">
      <span class="title"><strong>Arabic:</strong></span>
      <span class="level">Basic <br class="visible-sm visible-xs"/>
          <i class="fa fa-star"></i> 
      </span>
    </li><!--//item-->
              
  </ul>
</div><!--//content-->