<div class="content">
  <p class="alert alert-info" style="font-size: small;">I like listening to "background music" while coding. Video game like WoW have put a lot of research into developing music that will keep the user engaged, but also will not distract them. This is very helpful when coding or studying. Here are a few suggestions to help you code.</p>
  <ul class="list-unstyled">
    <li>
      <i class="fa fa-headphones-simple"></i> 
      <a href="https://www.youtube.com/watch?v=OZQLWHFePe8" target="_blank">
        Arabic Trance Music
      </a>
    </li>
    <li>
      <i class="fa fa-headphones-simple"></i> 
      <a href="https://www.youtube.com/watch?v=ebmwJnhtMgY&t=2219s" target="_blank">
        World of Warcraft 'The Ultimate Journey'
      </a>
    </li>
    <li>
      <i class="fa fa-headphones-simple"></i> 
      <a href="https://www.youtube.com/watch?v=bz5q5gl2uZA" target="_blank">
        Lofi Jazz Study Music
      </a>
    </li>
  </ul>
</div><!--//content-->