<aside class="info aside section">
  <div class="section-inner">
    <h2 class="heading">Basic Information</h2>
    {% include sections/info.html %}  
  </div><!--//section-inner-->                 
</aside><!--//aside-->
        
<aside class="skills aside section">
  <div class="section-inner">
    <h2 class="heading">Programming Languages</h2>
    {% include sections/skills.html %}
  </div><!--//section-inner-->                 
</aside><!--//section-->
        
<aside class="testimonials aside section">
  <div class="section-inner">
    <h2 class="heading">Testimonials</h2>
    {% include sections/testimonials.html %}
  </div><!--//section-inner-->
</aside><!--//section-->
        
<aside class="education aside section">
  <div class="section-inner">
    <h2 class="heading">Education</h2>
    {% include sections/education.html %}
  </div><!--//section-inner-->
</aside><!--//section-->
                    
<aside class="languages aside section">
  <div class="section-inner">
    <h2 class="heading">Languages</h2>
    {% include sections/lang.html %}
  </div><!--//section-inner-->
</aside><!--//section-->
        
<aside class="blog aside section">
  <div class="section-inner">
    <h2 class="heading">Latest Blog Posts</h2>
    {% include sections/posts.html %}
  </div><!--//section-inner-->
</aside><!--//section-->
        
<aside class="list music aside section">
  <div class="section-inner">
    <h2 class="heading">Coding Music</h2>
    {% include sections/music.html %}
  </div><!--//section-inner-->
</aside><!--//section-->
        
<aside class="list conferences aside section">
  <div class="section-inner">
    <h2 class="heading">Conferences</h2>
    {% include sections/confs.html %}
  </div><!--//section-inner-->
</aside><!--//section-->
        
<aside class="credits aside section">
  <div class="section-inner">
    <h2 class="heading">Credits</h2>
    {% include sections/credits.html %}
  </div><!--//section-inner-->
</aside><!--//section-->