<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  {% include head.html %}  
  <body class="d-flex flex-column h-100 bg-dark">
    
  {% include header.html %}

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
      {{content}}
    </div>
  </main>


  {% include footer.html %}

  <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

  </body>
</html>